@CHARSET "UTF-8";

	#replyContainer {
		width:96%;
		height:500px;
		margin-top:10px;
		/* overflow: scroll; */
	}
	#replyContainer > #comment_write {
		padding: 10px 0px;
		border-top: 1px solid #000066;
		border-bottom: 1px solid #000066;
	}
	#replyContainer > #comment_write #comment{
		margin-bottom:8px;
	}
	#replyContainer > #comment_write label {
		display: inline-block;
		width: 190px;
		/* font-size: 14px; */
		font-weight: bold;
		margin-bottom: 10px;
	}
	#replyContainer > #comment_write input[type='text'], 
	#replyContainer > #comment_write input[type='password'],
	#replyContainer > #comment_write textarea {
		border: 1px solid #ccc;
		vertical-align: middle;
		padding: 3px 10px;
		/* font-size: 12px; */
		line-height: 120%;
	}
	textarea {
		width: 770px;
		height: 60px; 
		vertical-align: middle;
	}
	
	.comment_item {
		/* font-size: 13px; */
		color: #333;
		padding: 10px 15px;
		border-bottom: 1px dotted #000066;
		line-height: 150%;
	}
	.comment_item .writer {
		color: #555;
		line-height: 150%;
		margin-bottom:5px;
	}
	.comment_item .writer input {
		vertical-align: middle;
	}
	.comment_item .writer .name {
		color: #222;
		font-weight: bold;
	/* 	font-size: 14px; */
	}
	.update_form, .delete_btn, .update_btn, .reset_btn{
		margin-left:10px;
	}
	#content{
		width: 580px;
		height: 50px;
		vertical-align: middle;
	}
	.pwdChkArea{
		position:relative;
		top:-18px;
		left:220px;
	}
	
	/** 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
	.glayLayer {
		/* position: fixed; left: 0; top: 0;height: 100%; width: 100%;  */
		background: black; opacity: 0.70; filter: alpha(opacity=70); 
	}
	
	/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */ 
	.overLayer { width: 880px; padding:6px;
		position:relative; top:-38px; left:80px; background: white;
		/*margin-top: -244px; margin-left: -325px;*/
	}
	.overLayer form{display:inline;}
	.overLayer input[type='button']{margin-right:5px;}
	.msg_default{color:#000099; font-weight:bold;}
	.msg_error{color:red;}